.kg-scrollbar-fix {
  margin: 0 20px; }

.kg-gauges {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 15px 0; }
  .kg-gauges .kg-gauge-wrapper {
    font-size: 14px;
    margin: 0 5px 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px; }
    .kg-gauges .kg-gauge-wrapper .c100 {
      font-size: 60px; }
      .kg-gauges .kg-gauge-wrapper .c100 .bar,
      .kg-gauges .kg-gauge-wrapper .c100 .fill {
        border-color: #EE6E73; }
      .kg-gauges .kg-gauge-wrapper .c100.p100 .bar,
      .kg-gauges .kg-gauge-wrapper .c100.p100 .fill, .kg-gauges .kg-gauge-wrapper .c100[class*=" p9"] .bar,
      .kg-gauges .kg-gauge-wrapper .c100[class*=" p9"] .fill, .kg-gauges .kg-gauge-wrapper .c100[class^="p9"] .bar,
      .kg-gauges .kg-gauge-wrapper .c100[class^="p9"] .fill, .kg-gauges .kg-gauge-wrapper .c100[class*=" p8"] .bar,
      .kg-gauges .kg-gauge-wrapper .c100[class*=" p8"] .fill, .kg-gauges .kg-gauge-wrapper .c100[class^="p8"] .bar,
      .kg-gauges .kg-gauge-wrapper .c100[class^="p8"] .fill {
        border-color: #5fd400; }
      .kg-gauges .kg-gauge-wrapper .c100[class*=" p7"] .bar,
      .kg-gauges .kg-gauge-wrapper .c100[class*=" p7"] .fill, .kg-gauges .kg-gauge-wrapper .c100[class^="p7"] .bar,
      .kg-gauges .kg-gauge-wrapper .c100[class^="p7"] .fill {
        border-color: #e08833; }

.kg-stack-row {
  margin: 0 14px;
  align-items: center;
  box-sizing: border-box;
  color: #242729;
  display: flex;
  text-align: center;
  text-decoration: none solid #242729;
  column-rule-color: #242729;
  perspective-origin: 310px 30px;
  transform-origin: 310px 30px;
  caret-color: #242729;
  border: 0 none #242729;
  font: normal normal normal normal 13px / 16.9px Arial, "Helvetica Neue", Helvetica, sans-serif;
  outline: #242729 none 0;
  flex-wrap: wrap;
  /*#DIV_2*/
  /*#DIV_3, #DIV_12*/
  /*#DIV_4, #DIV_13*/
  /*#SPAN_5, #SPAN_14*/
  /*#DIV_6, #DIV_15*/
  /*#SPAN_7, #SPAN_16*/
  /*#DIV_8*/
  /*#SPAN_9*/
  /*#SPAN_10*/
  /*#DIV_11*/
  /*#DIV_17*/
  /*#SPAN_18*/ }
  .kg-stack-row #DIV_11,
  .kg-stack-row #DIV_2 {
    margin: 15px 20px 0 0; }
  .kg-stack-row #DIV_2 {
    box-sizing: border-box;
    color: #242729;
    display: flex;
    height: 60px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid #242729;
    width: 146.292px;
    column-rule-color: #242729;
    align-items: center;
    perspective-origin: 73.1458px 30px;
    transform-origin: 73.1458px 30px;
    caret-color: #242729;
    border: 0 none #242729;
    font: normal normal normal normal 13px / 16.9px Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: #242729 none 0; }
  .kg-stack-row #DIV_12,
  .kg-stack-row #DIV_3 {
    bottom: 0;
    box-sizing: border-box;
    color: #242729;
    cursor: pointer;
    height: 60px;
    left: 0;
    min-height: auto;
    min-width: auto;
    position: relative;
    right: 0;
    text-align: center;
    text-decoration: none solid #242729;
    top: 0;
    width: 60px;
    column-rule-color: #242729;
    align-self: center;
    perspective-origin: 30px 30px;
    transform-origin: 30px 30px;
    caret-color: #242729;
    border: 3px solid #d6e6f6;
    border-radius: 50% 50% 50% 50%;
    flex: 0 0 auto;
    font: normal normal normal normal 13px / 15.6px Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0 10px 0 0;
    outline: #242729 none 0;
    padding: 8px 0 0; }
    .kg-stack-row #DIV_12.has-tooltip:focus .informative-tooltip, .kg-stack-row #DIV_12.has-tooltip:hover .informative-tooltip,
    .kg-stack-row #DIV_3.has-tooltip:focus .informative-tooltip,
    .kg-stack-row #DIV_3.has-tooltip:hover .informative-tooltip {
      opacity: 1;
      visibility: visible; }
    .kg-stack-row #DIV_12.has-tooltip:focus .informative-tooltip.display-above, .kg-stack-row #DIV_12.has-tooltip:hover .informative-tooltip.display-above,
    .kg-stack-row #DIV_3.has-tooltip:focus .informative-tooltip.display-above,
    .kg-stack-row #DIV_3.has-tooltip:hover .informative-tooltip.display-above {
      transform: translate(-50%, -110%); }
    .kg-stack-row #DIV_12.has-tooltip .informative-tooltip.display-above,
    .kg-stack-row #DIV_3.has-tooltip .informative-tooltip.display-above {
      transform: translate(-50%, -80%); }
  .kg-stack-row #DIV_13,
  .kg-stack-row #DIV_4 {
    bottom: -7.1875px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    height: 61.1875px;
    left: 27px;
    opacity: 0;
    position: absolute;
    right: -173px;
    text-align: center;
    text-decoration: none solid white;
    top: 0;
    visibility: hidden;
    width: 200px;
    z-index: 4000;
    column-rule-color: white;
    perspective-origin: 100px 30.5938px;
    transform: matrix(1, 0, 0, 1, -100, -49.0667);
    transform-origin: 100px 30.5938px;
    caret-color: white;
    background: #474747 none repeat scroll 0 0/auto padding-box border-box;
    border: 0 none white;
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 12px / 14.4px Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: white none 0;
    padding: 9.6px;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s; }
  .kg-stack-row #SPAN_14,
  .kg-stack-row #SPAN_5 {
    box-sizing: border-box;
    color: #3e6d8e;
    cursor: pointer;
    text-align: center;
    text-decoration: none solid #3e6d8e;
    text-transform: uppercase;
    column-rule-color: #3e6d8e;
    caret-color: #3e6d8e;
    border: 0 none #3e6d8e;
    font: normal normal bold normal 10px / 12px Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: #3e6d8e none 0; }
  .kg-stack-row #DIV_15,
  .kg-stack-row #DIV_6 {
    box-sizing: border-box;
    color: #4e82c2;
    cursor: pointer;
    height: 24px;
    text-align: center;
    text-decoration: none solid #4e82c2;
    width: 54px;
    column-rule-color: #4e82c2;
    perspective-origin: 27px 12px;
    transform-origin: 27px 12px;
    caret-color: #4e82c2;
    border: 0 none #4e82c2;
    font: normal normal normal normal 20px / 24px Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: #4e82c2 none 0; }
  .kg-stack-row #SPAN_16,
  .kg-stack-row #SPAN_7 {
    box-sizing: border-box;
    color: #4e82c2;
    cursor: pointer;
    text-align: center;
    text-decoration: none solid #4e82c2;
    column-rule-color: #4e82c2;
    caret-color: #4e82c2;
    border: 0 none #4e82c2;
    font: normal normal normal normal 13px / 15.6px Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: #4e82c2 none 0; }
  .kg-stack-row #DIV_8 {
    box-sizing: border-box;
    color: #242729;
    height: 27.3333px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid #242729;
    width: 76.2917px;
    column-rule-color: #242729;
    align-self: center;
    perspective-origin: 38.1458px 13.6667px;
    transform-origin: 38.1458px 13.6667px;
    caret-color: #242729;
    border: 0 none #242729;
    font: normal normal normal normal 13px / 16.9px Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: #242729 none 0; }
  .kg-stack-row #SPAN_9 {
    bottom: 0;
    box-sizing: border-box;
    color: #39739d;
    display: inline-block;
    height: 23.5833px;
    left: 0;
    position: relative;
    right: 0;
    text-align: center;
    text-decoration: none solid #39739d;
    top: 0;
    white-space: nowrap;
    width: 32px;
    column-rule-color: #39739d;
    perspective-origin: 16px 11.7917px;
    transform-origin: 16px 11.7917px;
    caret-color: #39739d;
    background: #e1ecf4 none repeat scroll 0 0/auto padding-box border-box;
    border: 1px solid transparent;
    font: normal normal normal normal 12px / 12px Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 2px 2px 2px 0;
    outline: #39739d none 0;
    padding: 4.8px 6px;
    transition: all 0.15s ease-in-out 0s; }
  .kg-stack-row #SPAN_10 {
    bottom: 0;
    box-sizing: border-box;
    color: #39739d;
    display: inline-block;
    height: 23.5833px;
    left: 0;
    position: relative;
    right: 0;
    text-align: center;
    text-decoration: none solid #39739d;
    top: 0;
    white-space: nowrap;
    width: 36.6771px;
    column-rule-color: #39739d;
    perspective-origin: 18.3333px 11.7917px;
    transform-origin: 18.3333px 11.7917px;
    caret-color: #39739d;
    background: #e1ecf4 none repeat scroll 0 0/auto padding-box border-box;
    border: 1px solid transparent;
    font: normal normal normal normal 12px / 12px Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 2px 2px 2px 0;
    outline: #39739d none 0;
    padding: 4.8px 6px;
    transition: all 0.15s ease-in-out 0s; }
  .kg-stack-row #DIV_11 {
    box-sizing: border-box;
    color: #242729;
    display: flex;
    height: 60px;
    min-height: auto;
    min-width: auto;
    text-align: center;
    text-decoration: none solid #242729;
    width: 205px;
    column-rule-color: #242729;
    align-items: center;
    perspective-origin: 102.5px 30px;
    transform-origin: 102.5px 30px;
    caret-color: #242729;
    border: 0 none #242729;
    font: normal normal normal normal 13px / 16.9px Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: #242729 none 0; }
  .kg-stack-row #DIV_17 {
    box-sizing: border-box;
    color: #242729;
    height: 27.3333px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid #242729;
    width: 135px;
    column-rule-color: #242729;
    align-self: center;
    perspective-origin: 67.5px 13.6667px;
    transform-origin: 67.5px 13.6667px;
    caret-color: #242729;
    border: 0 none #242729;
    font: normal normal normal normal 13px / 16.9px Arial, "Helvetica Neue", Helvetica, sans-serif;
    outline: #242729 none 0; }
  .kg-stack-row #SPAN_18 {
    bottom: 0;
    box-sizing: border-box;
    color: #39739d;
    display: inline-block;
    height: 23.5833px;
    left: 0;
    position: relative;
    right: 0;
    text-align: center;
    text-decoration: none solid #39739d;
    top: 0;
    white-space: nowrap;
    width: 62.6979px;
    column-rule-color: #39739d;
    perspective-origin: 31.3438px 11.7917px;
    transform-origin: 31.3438px 11.7917px;
    caret-color: #39739d;
    background: #e1ecf4 none repeat scroll 0 0/auto padding-box border-box;
    border: 1px solid transparent;
    font: normal normal normal normal 12px / 12px Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 2px 2px 2px 0;
    outline: #39739d none 0;
    padding: 4.8px 6px;
    transition: all 0.15s ease-in-out 0s; }
  .kg-stack-row #SPAN_19 {
    bottom: 0;
    box-sizing: border-box;
    color: #39739d;
    display: inline-block;
    height: 23.5833px;
    left: 0;
    position: relative;
    right: 0;
    text-align: center;
    text-decoration: none solid #39739d;
    top: 0;
    white-space: nowrap;
    width: 64.6875px;
    column-rule-color: #39739d;
    perspective-origin: 32.3438px 11.7917px;
    transform-origin: 32.3438px 11.7917px;
    caret-color: #39739d;
    background: #e1ecf4 none repeat scroll 0 0/auto padding-box border-box;
    border: 1px solid transparent;
    font: normal normal normal normal 12px / 12px Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 2px 2px 2px 0;
    outline: #39739d none 0;
    padding: 4.8px 6px;
    transition: all 0.15s ease-in-out 0s; }

@media only screen and (max-width: 600px) {
  .kg-stack-row #DIV_12.has-tooltip:hover .informative-tooltip.display-above,
  .kg-stack-row #DIV_3.has-tooltip:hover .informative-tooltip.display-above {
    transform: translate(-15%, -110%); }
  .kg-stack-row #DIV_12.has-tooltip .informative-tooltip.display-above,
  .kg-stack-row #DIV_3.has-tooltip .informative-tooltip.display-above {
    transform: translate(-15%, -80%); }
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    text-align: center; }
  .cards-container .card {
    text-align: initial; } }

@media only screen and (min-width: 601px) {
  .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }

@media only screen and (min-width: 993px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; } }

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.btn.kg-stackoverflow {
  background-color: #FD9827; }
  .btn.kg-stackoverflow:focus, .btn.kg-stackoverflow:hover {
    background-color: white;
    color: #FD9827; }

.btn.kg-github {
  background-color: #221e1b; }
  .btn.kg-github:focus, .btn.kg-github:hover {
    background-color: white;
    color: #221e1b; }

.btn.kg-linkedin {
  background-color: #3371b7; }
  .btn.kg-linkedin:focus, .btn.kg-linkedin:hover {
    background-color: white;
    color: #3371b7; }

.kg-about {
  color: #212121;
  font-weight: 400;
  font-size: 1.5rem; }

.kg-center-row {
  display: flex;
  align-items: center;
  justify-content: center; }
  .kg-center-row a.btn {
    margin: 0 5px; }

.tg-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 20px; }

.lang {
  display: flex; }
  .lang .lang-name {
    flex-shrink: 0;
    width: 30%; }
  .lang .lang-description {
    flex-grow: 1;
    display: flex;
    flex-direction: column; }
    .lang .lang-description .lang-lvl {
      display: flex;
      justify-content: space-evenly;
      align-items: center; }

.skillbar {
  position: relative;
  display: flex;
  margin-bottom: 15px;
  width: 100%;
  background: #43464B;
  height: 35px;
  border-radius: 3px;
  transition: 0.4s linear;
  transition-property: width, background-color; }
  .skillbar .skillbar-title {
    flex-shrink: 0;
    flex-grow: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #6adcfa;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
    .skillbar .skillbar-title span {
      display: block;
      background: rgba(0, 0, 0, 0.1);
      padding: 0 20px;
      height: 35px;
      line-height: 35px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
  .skillbar .skillbar-bar-container {
    flex-grow: 1;
    width: 1px; }
  .skillbar.not-in-view .skillbar-bar {
    width: 0; }
  .skillbar .skillbar-bar {
    height: 35px;
    background: #6adcfa;
    border-radius: 3px;
    transition: width 4s;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; }
  .skillbar .skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    text-shadow: -1px -1px 4px #969696; }

.precent-10 {
  width: 10%; }

.precent-20 {
  width: 20%; }

.precent-30 {
  width: 30%; }

.precent-40 {
  width: 40%; }

.precent-50 {
  width: 50%; }

.precent-60 {
  width: 60%; }

.precent-70 {
  width: 70%; }

.precent-80 {
  width: 80%; }

.precent-90 {
  width: 90%; }

.precent-100 {
  width: 100%; }

.github-card {
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  color: #555;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  min-height: 282px;
  margin-bottom: 13px;
  display: flex;
  flex-direction: column; }
  .github-card .repo-header {
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    padding: 10px 0 0;
    margin: 0;
    height: 148px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center; }
    .github-card .repo-header .repo-avatar {
      position: absolute;
      top: 5px;
      left: 5px;
      border: 2px solid #fff;
      border-radius: 50%;
      overflow: hidden;
      width: 48px;
      height: 48px; }
      .github-card .repo-header .repo-avatar img {
        display: block;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 0;
        left: 0; }
    .github-card .repo-header a {
      line-height: 25px;
      margin: 0;
      padding: 0;
      color: #fff;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      -webkit-font-smoothing: antialiased; }
  .github-card .repo-content {
    flex-grow: 1; }
    .github-card .repo-content p {
      font-size: 16px;
      padding: 10px 20px; }
  .github-card .status {
    flex-shrink: 0;
    flex-grow: 0;
    height: 60px;
    text-transform: uppercase;
    font-size: 12px;
    color: #707070;
    margin: 0;
    padding: 0;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: stretch;
    align-items: center; }
    .github-card .status a {
      flex-grow: 1;
      padding: 8px 0;
      color: #707070;
      text-decoration: none; }
      .github-card .status a strong {
        display: block;
        color: #292f33;
        font-size: 16px;
        line-height: 1.6; }

strong {
  color: #ffab40; }

picture {
  position: relative;
  line-height: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  picture img.noscript {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important; }

.main-avatar {
  height: 150px;
  width: 150px; }

.chip.band-chip {
  height: 22px;
  line-height: 22px;
  padding: 0 8px;
  background-color: black;
  color: yellow;
  flex-shrink: 0; }

.band-card {
  min-height: 200px;
  width: 100%;
  background-color: #546e7a;
  display: flex;
  color: white;
  overflow: hidden;
  margin-bottom: 15px; }

.band-card .picture {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
  flex-shrink: 0; }

.band-card .picture img {
  width: 100%;
  height: 100%; }

.band-card .info {
  padding: 10px 10px 10px 18px;
  flex-grow: 1; }

.band-card .info .band-name {
  font-size: 2rem;
  text-transform: uppercase;
  color: #ffab40;
  font-weight: 400; }

.band-card .info .band-genres {
  display: flex;
  align-items: center;
  transform: translateX(-8px);
  flex-wrap: wrap; }

.band-card .actions {
  width: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.band-card .actions .btn-flat {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 50px;
  width: 50px; }

.band-card .actions .btn-flat i {
  font-size: 1.5rem; }

.band-card .actions .btn-flat i.socicon-bandcamp {
  font-size: 2.3rem; }

@media only screen and (max-width: 650px) {
  .band-card {
    flex-direction: column;
    position: relative; }
  .band-card .actions {
    height: 50px;
    width: 100%;
    flex-direction: row; }
  .band-card .picture {
    position: absolute;
    top: 0;
    right: 0;
    height: 85px;
    width: 85px; }
  .band-card .info .band-genres,
  .band-card .info .band-name {
    padding-right: 75px; } }

.card.music {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; }

.vinyl-container {
  display: none; }

.card.music .card-title {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  font-size: 16px; }

.cd-timeline-block h2 {
  font-size: 2rem; }

.card.music .collection {
  border: none;
  margin-top: 1rem;
  overflow: hidden;
  flex-grow: 1;
  max-height: 0;
  transition: max-height 300ms; }

.card.music .collection .btn-flat {
  opacity: 0;
  transition: opacity 300ms;
  transition-delay: 200ms; }

.card.music.play .collection .btn-flat {
  opacity: 1; }

.card.music.play .collection {
  max-height: 1000px;
  overflow: visible; }

.card.music .card-image a {
  z-index: 2; }

.card.music .card-image {
  position: relative; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.card.music .card-image .vinyl-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: transform 500ms; }

.card.music .card-image .vinyl-container .shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px; }

.card.music.play .card-image .vinyl-container {
  transform: translateX(30%); }

.waves-effect.waves-dark-orange .waves-ripple {
  /* The alpha value allows the text and background color
    of the button to still show through. */
  background-color: #ff6d00; }

.card.music .card-image .vinyl {
  transform-origin: center center;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -11;
  display: block;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/vinyl.png"); }

.card.music .collection a.btn-flat {
  white-space: nowrap;
  display: flex;
  align-items: center;
  color: #ffab40;
  margin-bottom: 3px;
  /*     border-radius: 0; */ }

.card.music .collection a.btn-flat:hover {
  transition: all 400ms;
  background-color: #ffab40;
  color: white;
  /*     transform: translateX(10px); */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.card.music .collection a.btn-flat.active::after {
  content: url("/assets/images/bars.svg");
  width: 20px;
  height: 15px;
  width: 15px;
  transform: translateY(-8px);
  margin-left: 10px; }

.card.music .collection a.btn-flat.active {
  transition: all 400ms;
  background-color: #ff6d00;
  color: white;
  transform: translateX(10px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.card.music .collection a.btn-flat.active .waves-ripple {
  background-color: #ffab40; }

.dark-orange {
  background-color: #ffab40; }

.dark-orange:hover {
  background-color: #ff6d00; }

.card.music .collection a.btn-flat i {
  margin-right: 10px; }

.card.music .collection a.collection-item::after {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  content: "";
  height: 1px;
  background-color: white;
  display: block; }

.gha-feed {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  border: none;
  background: #212121;
  border-radius: 5px;
  color: #89BDFF;
  position: relative; }
  .gha-feed:after {
    content: "";
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #212121; }

.gha-time {
  color: #89BDFF; }

.gha-feed small {
  color: #89BDFF; }

.gha-feed a {
  color: #FF9A35; }

.gha-footer,
.gha-header,
.gha-push,
.gha-push-small {
  display: none; }

.content {
  padding: 5px; }

.about-title {
  display: flex;
  align-items: center;
  color: #FF9A35;
  font-weight: 600;
  font-size: 1.2rem; }

.about-title .octicon {
  font-size: 22px; }

.about-title .about-symbol {
  border: #bbb 3px solid;
  color: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  flex-grow: 0;
  flex-shrink: 0; }

.about-title .about-line {
  height: 3px;
  width: 3px;
  background-color: #bbb;
  margin-left: 10px;
  flex-grow: 1; }

.bbplayer.floating {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  box-shadow: 0 2px 7px rgba(100, 100, 100, 0.5);
  border-radius: 0;
  padding: 7px;
  width: 430px;
  height: 50px;
  max-width: 80vw;
  visibility: hidden; }
  .bbplayer.floating.bb-show {
    visibility: visible; }

.bbplayer .button.amplitude-play-pause.amplitude-playing::after {
  content: "pause"; }

.bbplayer .button.amplitude-play-pause.amplitude-paused::after {
  content: "play_arrow"; }

.bbplayer .amplitude-prev::after {
  content: "skip_previous"; }

.bbplayer .amplitude-next::after {
  content: "skip_next"; }

.amplitude-current-time,
.amplitude-duration-name,
.amplitude-duration-time {
  vertical-align: baseline; }

.amplitude-current-time::after {
  content: ":";
  padding: 0 5px; }

.bbplayer .name-container {
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 10px; }

.bbplayer .name-container .amplitude-name.move2 {
  animation: left-one 10s linear infinite; }

.bbplayer .name-container .amplitude-name.move1 {
  animation: left-two 10s linear infinite; }

@keyframes left-one {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

@keyframes left-two {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

.bbplayer .name-container .amplitude-name {
  position: absolute;
  padding: 0 10px;
  white-space: nowrap;
  margin: 0 10px;
  min-width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 0 #000000;
  line-height: 35px;
  filter: dropshadow(color=#000000, offx=1, offy=1); }

.player-mi {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-image: none; }

.player-mi::after {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

nav.nav-extended {
  position: relative;
  background: radial-gradient(#ffcc99, #ff9933);
  transition: opacity 1s;
  opacity: 1; }

.col.s12.cards-container {
  padding: 20px 0; }

.cards-container,
.music-cards-container {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; }

.cards-container .card {
  display: inline-block;
  overflow: visible;
  width: 100%; }

@media only screen and (max-width: 731px) {
  .music-cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    text-align: center; }
  .cards-container .card {
    text-align: initial; } }

@media only screen and (min-width: 732px) {
  .card.music {
    flex-grow: 0;
    margin-right: 37px; }
  .vinyl-container {
    display: block; }
  .music-cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }

@media only screen and (min-width: 1455px) {
  .music-cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; } }

@media only screen and (min-device-width: 732px) and (max-device-width: 1455px) and (orientation: landscape) {
  .card.music {
    flex-grow: 0;
    margin-right: 37px; }
  .vinyl-container {
    display: block; }
  .music-cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }

.card .card-title.rtl {
  direction: rtl;
  right: 0;
  left: auto; }

.card .card-content.rtl {
  direction: rtl; }

.reshet {
  white-space: nowrap;
  direction: rtl;
  font-family: "Open Sans Hebrew", Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  padding: 0 30px;
  background-color: #f1bb00;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 20px; }
  .reshet p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.reshet:before {
  content: "";
  box-sizing: content-box;
  position: absolute;
  right: 0;
  bottom: -12px;
  border-radius: 0;
  z-index: 5;
  width: 0;
  height: 0;
  border-top: 14px solid #f1bb00;
  border-left: 14px solid transparent;
  margin: 0;
  padding: 0; }

body {
  background-color: #e9f0f5; }

.cd-timeline-content h2 {
  margin-bottom: 0;
  text-transform: uppercase; }

.tabs {
  overflow: hidden; }

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto; }

.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both; }

/* --------------------------------

Main components

-------------------------------- */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em; }

#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed; }

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em; }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px; } }

.cd-timeline-block {
  position: relative;
  margin: 2em 0; }

.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both; }

.cd-timeline-block:first-child {
  margin-top: 0; }

.cd-timeline-block:last-child {
  margin-bottom: 0; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0; }
  .cd-timeline-block:first-child {
    margin-top: 0; }
  .cd-timeline-block:last-child {
    margin-bottom: 0; } }

.cd-timeline-img {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; }

.cd-timeline-img img {
  display: block;
  width: 100%; }

.cd-timeline-img.amdocs {
  background: #2D2B43; }
  .cd-timeline-img.amdocs picture {
    height: 50%;
    width: 50%; }
    .cd-timeline-img.amdocs picture .circle {
      border-radius: 0; }

.cd-timeline-img.redkix {
  background: #88c4e2;
  padding: 3px; }

.cd-timeline-img.google {
  padding: 5px;
  background: #FAFAFA; }

.cd-timeline-img.cd-location {
  background: #f0ca45; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden; }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden; }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s; } }

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5); }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2); }
  100% {
    -moz-transform: scale(1); } }

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

.cd-timeline-header {
  color: #c0d0db;
  position: relative;
  margin-left: 60px; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-header {
    text-align: center;
    margin-left: 0;
    background-color: #e9f0f5;
    padding: 10px 0; } }

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed; }

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both; }

.cd-timeline-content h2 {
  color: #303e49; }

.cd-timeline-content .cd-date,
.cd-timeline-content .cd-read-more,
.cd-timeline-content p {
  font-size: 13px;
  font-size: 0.8125rem; }

.cd-timeline-content .cd-date,
.cd-timeline-content .cd-read-more {
  display: inline-block; }

.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6; }

.cd-timeline-content .cd-read-more {
  float: right;
  padding: 0.8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em; }

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb; }

.cd-timeline-content .cd-date {
  float: left;
  padding: 0.8em 0;
  opacity: 0.7; }

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white; }

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem; }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem; }
  .cd-timeline-content .cd-date,
  .cd-timeline-content .cd-read-more {
    font-size: 14px;
    font-size: 0.875rem; } }

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%; }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white; }
  .cd-timeline-content .cd-read-more {
    float: left; }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right; }
  .cd-container .is-hidden {
    visibility: hidden; }
  .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s; } }

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s; } }

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0); } }

@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px); }
  100% {
    -moz-transform: translateX(0); } }

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0); } }

@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px); }
  100% {
    -moz-transform: translateX(0); } }

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

/* MY CSS */
.intro h3 {
  margin-top: 0; }

@media only screen and (max-width: 376px) {
  .cd-timeline-block {
    margin: 4em 0; }
  .cd-timeline-content {
    margin-left: 0; }
  .cd-timeline-img {
    z-index: 5;
    top: -10px;
    left: -10px; }
  #cd-timeline::before {
    left: 8px; } }
